.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color: grey;
    color: white;
    text-align: center;
   }
   .fl{
     color: white;
   }
   a
   {
     color: white;
   }

  